{{ block("head", "base.html.twig") }}

<div id="main" class="col1">

		<div class="content-posts-wrap">
			<div id="content-box">
				<div id="post-body">
					<div class="post-single post-4179 page type-page status-publish hentry">
						<h1 id="post-title" class="entry-title post-4179 page type-page status-publish hentry">Home </h1>

						<div class="breadcrumbs">
							<div class="breadcrumbs-wrap">
								<ul><li><a href="/">Home</a></li></ul>
							</div>
						</div>

						<div id="article">
							<div class="accannouncements"><div class="accannouncements-notices-wrapper"></div>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

{{ block("footer", "base.html.twig") }}