{{ block("head", "base.html.twig") }}

<div id="acc-slider" style="width:100%; height: 450px; background: url(assets/domek1.jpg) no-repeat center center; background-size: cover">
	<div class="container">
		<div id="" style="position:relative; left: 0%; top: 300px; max-width: 400px; height: 100px; background: #333; opacity: .8; padding:10px; margin:10px">
			<a href="{{app.request.getBaseURL()}}/account"<span style="color: #fff;font-size:150%; font-weight: bold">WITAMY! >>> Zaloguj się aby wynająć apartament</span></a>
		</div>
	</div>
</div>


{{ block("footer", "base.html.twig") }}