{{ block("head", "base.html.twig") }}

<div id="main" class="col2-l" style="margin-top: 78px;">
    <div class="content-posts-wrap">
        <div id="content-box" style="width:100%">
            <div id="post-body">

                <div class="post-single post type-post status-publish format-standard has-post-thumbnail ">
                    <h1 id="post-title" class="entry-title post type-post status-publish format-standard has-post-thumbnail ">Kontakt</h1>
                    <div class="breadcrumbs">
                        <div class="breadcrumbs-wrap">
                            <ul><li><a href="">Home</a></li><li class="separator"> / </li><li><a href="/kontakt/" rel="category tag">oferty</a></li></ul>
                        </div>
                    </div>


                    <div id="article">


                    </div>



                </div>
            </div>
        </div>
    </div>

</div>


{{ block("footer", "base.html.twig") }}